@media screen and (min-width: 769px) {

    * {
        margin: 0;
        padding: 0;
    }

    .body {
        width: auto;
        height: 100%;
        background-color: #fff;
        font-family: "Mulish", sans-serif;
    }

    .header {
        display: flex;
        padding: 5vh 20vh 0 20vh;
        box-sizing: border-box;
        justify-content: space-between;
    }

    .shorts {
        display:none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30vw;
        font-weight:600;
        font-size: 16px;
        color: #414141;
    }

    .header button {
        width: 10vw;
        padding: 1vh;
        box-sizing: border-box;
        background-color: #5F2EEA;
        border: 1px solid #5F2EEA;
        border-radius: 5px;
        font-family: "Mulish", sans-serif;
        font-weight: 700;
        color: #fff;
    }

    .main {
        height: 70%;
    }

    .adsect {
        display: flex;
        padding: 15vh 20vh 0 20vh;
        box-sizing: border-box;
        height: 110vh;
    }

    .adsect1 {
        width: 50%;
        padding: 25vh 0 0 0;
        box-sizing: border-box;
        text-align: left;
    }

    #line1 {
        margin-bottom: 1vh;
        font-size: 24px;
        font-weight: 400;
        color:#AAAAAA
    }

    #line2 {
        font-size: 56px;
        font-weight: 700;
        color: #5F2EEA;
    }

    .adsect2 {
        width: 50%;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }

    .container-img {
        width: 8vw;
        height: 60vh;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 1vh 1vh 4vh rgba(43,21,107,0.5);
    }

    .container-img img {
        width: 8vw;
        height: 60vh;
        border-radius: 10px;
        object-fit: cover;
    }

    .low-img {
        position: relative;
        top: 6vh;
        right: 2vw;
    }

    .lower-img {
        position: relative;
        top: 12vh;
        right: 4vw;
    }

    .section-now {
        padding: 15vh 20vh 0 20vh;
        box-sizing: border-box;
        background-color: #F5F6F8;
        height: 100vh;
    }

    .class1-now {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        font-weight:700;
    }

    .p1 {
        font-size: 24px;
        border-bottom: 3vh;
        color: #5F2EEA;
    }

    .p2 {
        font-size: 16px;
        color: #5F2EEA;
    }

    .class2-now {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        padding: 10vh 0 0 0;
        box-sizing: border-box;
        color: #5F2EEA;
    }

    .container-now {
        width: 18vw;
        height: 40vh;
        margin: 1vh;
        box-sizing: content-box;
        border: 2px solid #fff;
        border-radius: 8px;
        padding: 6vh;
    }

    .container-now img {
        width: 12.5vw;
        height: 40vh;
        border-radius: 6px;
        object-fit: cover;
    } 

    .section-up {
        padding: 15vh 20vh 0 20vh;
        box-sizing: border-box;
        height: 140vh;
    }

    .class1-up {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        font-weight:700;
    }

    .p3 {
        font-size: 24px;
    }
    
    .class2-up {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        padding: 7vh 0 0 0;
        box-sizing: border-box;
    }

    .class2-up1 {
        width: 10vw;
        height: 7vh;
        margin: 1vh;
        padding: 2vh;
        box-sizing: border-box;
        box-shadow: 0 1vh 4vh rgba(85, 30, 248, 0.3);
        background-color: #5F2EEA;
        border: 1px solid #5F2EEA;
        border-radius: 4px;
        font-family: "Mulish", sans-serif;
        font-weight: 700;
        color: #fff;
        flex-shrink: 0;
    }

    .class2-up2 {
        width: 10vw;
        height: 7vh;
        margin: 1vh;
        padding: 2vh;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #5F2EEA;
        border-radius: 4px;
        font-family: "Mulish", sans-serif;
        font-weight: 600;
        color: #5F2EEA;
        flex-shrink: 0;
    }

    .class3-up {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        padding: 10vh 0 0 0;
        box-sizing: border-box;
    }

    .container-up {
        width: 18vw;
        height: 75vh;
        margin: 1vh;
        position: relative;
        box-sizing: content-box;
        border: 0.5px solid #DEDEDE;
        border-radius: 8px;
        padding: 6vh 6vh 0 6vh;
    }

    .container-up img {
        width: 12.5vw;
        height: 40vh;
        border-radius: 6px;
        object-fit: cover;
    }

    .p4 {
        margin: 4vh 0 1.5vh 0;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #14142B;

    }

    .p5 {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #A0A3BD;
        text-align: center;
    }

    .container-upbutton {
        box-sizing: border-box;
        position: absolute;
        bottom: 6vh;
    }
    
    .container-upbutton button {
        width: 12.5vw;
        padding: 1vh;
        background-color: #fff;
        border: 1px solid #5F2EEA;
        border-radius: 4px;
        font-family: "Mulish", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #5F2EEA;
    }

    .section-nl {
        height: 100vh;
        padding: 15vh 20vh 0 20vh;
        box-sizing: border-box;
    }

    .class-nl {
        height: 68vh;
        padding: 10vh 0 0 0;
        box-sizing: border-box;
        box-shadow: 0 2vh 3vh rgba(0,0,0,0.1);
        border-radius: 8px;
        text-align: center;
    }

    #line3 {
        margin-bottom: 0.5vh;
        font-size: 24px;
        font-weight: 400;
        color:#4E4B66;
    }

    #line4 {
        font-size: 48px;
        font-weight: 700;
        color: #5F2EEA;
    }

    #form input[type="text"] {
        width: 30%;
        height: 10vh;
        box-sizing: border-box;
        background-color: #FCFDFE;
        border: 2px solid #DEDEDE;
        border-radius: 4px;
        padding: 2vh 1.5vw 2vh 1.5vw;
        font-family: "Mulish", sans-serif;
        letter-spacing: 0.1em;
        ::placeholder {
            color: #DEDEDE;
        }
    }

    .class-nl button {
        width: 10vw;
        height: 10vh;
        margin-left: 2vh;
        padding: 2vh;
        box-sizing: border-box;
        background-color: #5F2EEA;
        border: 1px solid #5F2EEA;
        border-radius: 4px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: #fff;
    }

    #line5 {
        padding: 4vh;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 4vh;
        color:#6E7191
    }

    .footer1 {
        display: flex;
        justify-content: space-between;
        padding: 15vh 20vh 0 20vh;
        box-sizing: border-box;
        height: auto;
    }

    .class1-footer img {
        margin-bottom: 1vh;
    }

    .class1-footer p {
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 6vh;
        color:#6E7191;
    }

    .p6 {
        margin-bottom: 5vh;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 700;
        color: #000;
    }

    .p7 {
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 400;
        line-height: 5vh;
        color:#6E7191;
    }

    .class3-footer img {
        padding: 0 0 3vh 0;
        box-sizing: border-box;
    }

    .class4-footer img {
        padding: 0 0 3vh 0;
        box-sizing: border-box;
    }

    .f2 {
        display: flex;
        justify-content: space-around;
        align-items: left;
    }

    #logo {
        padding-top: 2vh;
        box-sizing: border-box;
        line-height: 5vh;
    }

    #ket {
        margin-left: 3vh;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 600;
        line-height: 8vh;
        color:#6E7191;
    }

    .footer2 {
        margin: 1vh 0 5vh 0;
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .body {
        width: 100vw;
        height: 100%;
        background-color: #fff;
        font-family: "Mulish", sans-serif;
    }
    
    .header {
        display: flex;
        padding: 5vh;
        box-sizing: border-box;
        box-shadow: 1vh 1vh 1vh rgba(85, 30, 248, 0.1);
        justify-content: space-between;
    }
    
    .nav {
        display: flex;
        align-items: left;
        width: 30vw;
        font-weight:600;
        font-size: 16px;
        color: #414141;
    }

    .nav p {
        display: none;
    }

    .shorts {
        display: block;
        position: relative;
        top: 1vh;
    }
    
    .header button {
        display:none;
    }
    
    .main {
        height: 70%;
    }
    
    .adsect {
        padding: 8vh 5vh 0 5vh;
        box-sizing: border-box;
        height: 120vh;
    }

    .adsect1 {
        height: 15%;
        box-sizing: border-box;
        padding: 1vh 0 0 0;
        text-align: left;
    }
    
    #line1 {
        margin-bottom: 1vh;
        font-size: 14px;
        font-weight: 400;
        color:#AAAAAA
    }
    
    #line2 {
        font-size: 34px;
        font-weight: 800;
        color: #5F2EEA;
    }

    .adsect2 {
        height: 50vh;
        display: flex;
        padding: 0 5vh 0 5vh;
        box-sizing: border-box;
        justify-content: space-between;
    }

    .container-img {
        width: 8vw;
        aspect-ratio: 1/3;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 1vh 1vh 4vh rgba(43,21,107,0.5);
        flex: 1 1 auto;
    }

    .container-img img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .low-img {
        position: relative;
        top: 6vh;
        right: 2vw;
    }
    
    .lower-img {
        position: relative;
        top: 12vh;
        right: 4vw;
    }
    
    .section-now {
        padding: 7vh 5vh 0 5vh;
        box-sizing: border-box;
        background-color: #D6D8E7;
    }
    
    .class1-now {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .p1 {
        font-size: 18px;
        font-weight:700;
        border-bottom: 1vh;
        color: #5F2EEA;
    }
    
    .p2 {
        font-size: 14px;
        font-weight: 600;
        color: #5F2EEA;
    }
    
    .class2-now {
        height: auto;
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        padding: 3vh 0 6vh 0;
        box-sizing: border-box;
        color: #5F2EEA;
    }
    
    .container-now {
        width: 18vw;
        aspect-ratio: 2/3;
        flex: 0 0 25%;
        margin: 1vh;
        box-sizing: content-box;
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 2vh;
    }
    
    .container-now img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        object-fit: cover;
    } 
    
    .section-up {
        height: 110vh;
        padding: 7vh 5vh 0 5vh;
        box-sizing: border-box;
        font-family: "Mulish", sans-serif;
    }
    
    .class1-up {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        font-weight:700;
    }
    
    .p3 {
        font-size: 18px;
    }
    
    .class2-up {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        padding: 3vh 0 0 0;
        box-sizing: border-box;
    }
    
    .class2-up1 {
        width: 15vw;
        height: 7vh;
        margin: 1vh;
        padding: 1vh;
        box-sizing: border-box;
        box-shadow: 0 1vh 4vh rgba(85, 30, 248, 0.3);
        background-color: #5F2EEA;
        border: 1px solid #5F2EEA;
        border-radius: 4px;
        font-family: "Mulish", sans-serif;
        font-size: 9px;
        font-weight: 700;
        color: #fff;
        flex-shrink: 0;
        word-wrap: break-word;
    }
    
    .class2-up2 {
        width: 15vw;
        height: 7vh;
        margin: 1vh;
        padding: 1vh;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #5F2EEA;
        border-radius: 4px;
        font-family: "Mulish", sans-serif;
        font-size: 10px;
        font-weight: 600;
        color: #5F2EEA;
        flex-shrink: 0;
        word-wrap: break-word;
    }
    
    .class3-up {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        padding: 3vh 0 0 0;
        box-sizing: border-box;
    }
    
    .container-up {
        width: 18vw;
        aspect-ratio: 1/5;
        flex: 0 0 25%;
        margin: 1vh;
        position: relative;
        box-sizing: content-box;
        border: 0.5px solid #DEDEDE;
        border-radius: 8px;
        padding: 2vh 2vh 0 2vh;
    }
     
    .container-up img {
        width: 100%;
        height: 50%;
        border-radius: 6px;
        object-fit: cover;
    }
    
    .p4 {
        margin: 1.5vh 0 0.5vh 0;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: #14142B;
    
    }
    
    .p5 {
        font-size: 10px;
        font-weight: 300;
        color: #A0A3BD;
        text-align: center;
    }

    .container-upbutton {
        box-sizing: border-box;
        position: absolute;
        bottom: 2vh;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .container-upbutton button {
        width: 100%;
        padding: 1vh;
        background-color: #fff;
        border: 0.5px solid #5F2EEA;
        border-radius: 4px;
        font-family: "Mulish", sans-serif;
        font-size: 10px;
        font-weight: 300;
        color: #5F2EEA;
    }
    
    .section-nl {
        height: 100vh;
        padding: 15vh 5vh 0 5vh;
        box-sizing: border-box;
    }
    
    .class-nl {
        padding: 10vh;
        box-sizing: border-box;
        box-shadow: 0 2vh 3vh rgba(0,0,0,0.1);
        border-radius: 8px;
        text-align: center;
    }
    
    #line3 {
        margin-bottom: 0.1vh;
        font-size: 14px;
        font-weight: 400;
        color:#4E4B66;
    }
    
    #line4 {
        margin-bottom: 1vh;
        font-size: 20px;
        font-weight: 700;
        color: #5F2EEA;
    }
    
    #form {
        display: flex;
        flex-direction: column;
    }

    #form input[type="text"] {
        width: 100%;
        height: 7vh;
        margin-bottom: 1vh;
        padding: 2vh 1.5vw 2vh 1.5vw;
        box-sizing: border-box;
        background-color: #FCFDFE;
        border: 2px solid #DEDEDE;
        border-radius: 4px;
        font-family: "Mulish", sans-serif;
        font-size: 12px;
        letter-spacing: 0.1em;
        ::placeholder {
            color: #DEDEDE;
        }
    }
    
    .class-nl button {
        width: 100%;
        height: 7vh;
        padding: 2vh;
        box-sizing: border-box;
        background-color: #5F2EEA;
        border: 1px solid #5F2EEA;
        border-radius: 4px; 
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #fff;
    }
    
    #line5 {
        padding: 1vh;
        box-sizing: border-box;
        word-wrap: break-word;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1em;
        color:#6E7191
    }
    
    .footer {
        padding: 10vh 5vh 0 5vh;
        box-sizing: border-box;
    }
    
    .class1-footer img {
        margin-bottom: 1vh;
    }
    
    .class1-footer p {
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 3vh;
        color:#6E7191;
    }
    
    .p6 {
        margin: 4vh 0 2vh 0;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 700;
        color: #000;
    }
    
    .explore {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .p7 {
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 400;
        line-height: 3vh;
        color:#6E7191;
    }

    .sponsor {
        display: flex;
        justify-content: space-around;
        padding: 0 0 2vh 0;
        box-sizing: border-box;
    }

    .sponsor img {
        width: 30%;
    }
   
    #logo {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 0 0 3vh 0;
        box-sizing: border-box;
    }
    
    #ket {
        display: none;
    }
    
    .footer2 {
        margin: 1vh 0 5vh 0;
        text-align: left;
    }
}